@mixin login-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
  
    .login-page {
      .app-header-container {
        background-color: mat-color($primary);
        border-radius: 0%;
        color: whitesmoke;
      }
    }
  }