<div class="login-page">
    <div class="jumbotron app-header-container">
        <div class="container">
          <h1 class="display-4">Angular Solid App</h1>
          <div class="row">
            <div class="col-10 offset-1">
                <p class="lead">An Angular application using the Solid ("SOcial LInked Data") set of conventions and styled with
                    the material design.</p>
            </div>
          </div>

        </div>
    </div>

    <!-- APP LOGO -->
    <div style="margin-top:60px;">
      <!-- <i class="fas fa-user-circle" style="font-size: 64px;"></i> -->

      <mat-icon class="navbar-icon" style="font-size: 64px">lock_open</mat-icon>
    </div>
  
    <!-- APP NAME -->
    <h1>
      Profile Demo App
    </h1>
  
    <!-- LOGIN TITLE -->
    <h2>
      Login with Solid Identity
    </h2>
  
    <!-- PROVIDER SELECTION -->
    <div style="margin-top: 10px;">
      <!-- <ng-select class="login-select"
                 bindLabel="providerName"
                 bindValue="providerLoginUrl"
                 placeholder="Select ID Provider"
                 dropdownPosition="bottom"
                 [items]="identityProviders"
                 [(ngModel)]="selectedProviderUrl"
                 style="width: 360px; height: 48px; margin-left: auto; margin-right: auto;">
      -->
        <!-- DROPDOWN TEMPLATE -->
        <!-- <ng-template ng-option-tmp let-item="item">
          <div style="height:40px; padding-top:10px; position: relative;">
            <img [src]="item.providerImage" style="float: left; height: 32px; width: 32px; margin-top:-5px;" />
            <span style="float: left; margin-left: 10px;">{{ item.providerName }}</span>
            <div style="clear: both;"></div>
            <div class="item-divider"></div>
          </div>
        </ng-template>
  
      </ng-select> -->

      <mat-form-field>
        <mat-select
          placeholder="Select ID Provider"
          [formControl]="providerControl"
          [(value)]="selectedProviderUrl"
          required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let provider of identityProviders" [value]="provider.loginUrl">
            {{ provider.name }}
          </mat-option>
        </mat-select>
        <mat-hint *ngIf="selectedProviderUrl">
          <abbr title="Identity Provider URL">IDP</abbr>: {{selectedProviderUrl}}
        </mat-hint>
        <mat-error *ngIf="providerControl.hasError('required')">Please choose a provider</mat-error>
      </mat-form-field>
      <!-- Material Button  -->
      <button
        mat-raised-button
        (click)="onLogin()"
        color="primary"
        *ngIf="selectedProviderUrl !== undefined || customProviderUrl !== undefined"
        [disabled]="selectedProviderUrl === null && !customProviderUrl"
        class="login-button">
        GO
      </button>
      <!-- Material Button -->
      
      <input type="text"
             class="wide-text"
             *ngIf="selectedProviderUrl === null"
             placeholder="Enter WebID"
             style="margin-top:10px; padding: 12px 10px; width: 340px; height: 16px; display: block; margin-left: auto; margin-right: auto;"
             [(ngModel)]="customProviderUrl" />
    </div>
  
    <!-- REGISTRATION -->
    <div class="registration-link">
      <p style="margin: 12px;">Don't have a Solid Identity?</p>
      <button
        mat-raised-button
        color="basic"
        class="register-button"
        (click)="goToRegistration()">
        Register
      </button>
    </div>
  
    <!-- HELP -->
    <div style="margin-top: 48px;">
      <a href="https://solid.mit.edu" target="_blank" class="small-link">
        What is a Solid Identity?
      </a>
    </div>
  
  </div>
    
  
  