<app-navbar (openSidebar)="toggleSidebar()" class="mat-elevation-z6"></app-navbar>

<!-- Creates a layout with a left-positioned sidenav and explicit content. -->
<mat-sidenav-container class="app-container d-flex flex-column h-100">
  <mat-sidenav #sidenav class="app-sidenav">
    <mat-list class="list-nav">
      <mat-list-item class="list-item">
        <span class="source-name">The list item</span>
      </mat-list-item>
   </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="app-sidenav-content flex-grow-1">
      <main>
        <router-outlet></router-outlet>
      </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- The Footer -->
<app-footer class="app-footer"></app-footer>
