// .app-sidenav {
//     padding: 20px;
// }

.app-container {
    // width: 100%;
    height: auto;
    /* Margin bottom by footer height */
    background-color: rgba(255,255,255,1);
    padding-bottom: 180px;
}

// Margin-top for the Navbar
.app-sidenav,
.app-sidenav-content {
    margin-top: 64px;
}

.app-sidenav {
    .mat-button {
        line-height: 4em;
    }
}
    // margin-left: 100px;
    // display: flex;
    // height: 75%;
    // align-items: center;
    // justify-content: center;

// .app-footer {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     /* Set the fixed height of the footer here */
//     // height: 60px;
//     // line-height: 60px;
// }
  
