// Define a mixin that accepts a theme and outputs the color styles 
// for the component.
@mixin footer-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
  
    .app-footer {
      padding: 1em 0;
      font-size: 12px;
      background-color: mat-color($primary);
      color: mat-color($mat-indigo, 50);
      a {
        color: mat-color($primary, default-contrast);
      }
    }
  }