.app-footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.app-footer-version {
  font-size: 14px;
  font-weight: 500;
}

.app-footer-copyright {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 225px;
  text-align: center;
}

// @media screen and (max-width: 884px){
//   .app-footer-list {
//     flex-direction: column;
//   }
// }