.app-footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.app-footer-version {
  flex: 1;
  text-align: center;
}

.app-footer-copyright {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: column;
  min-width: 225px;
  text-align: center;
}

@media screen and (max-width: 884px){
  .app-footer-list {
    flex-direction: column;
  }
}