<div class="profile-page">
  <!-- Jumbotron -->
  <div class="jumbotron app-header-container">
    <div class="container">
      <h1 class="display-4">Profile Card</h1>
      <div class="row">
        <div class="col-10 offset-1">
          <p class="lead">
            This page will show the information about the user logged in using Solid
          </p>
        </div>
      </div>

    </div>
  </div>
  <!-- Jumbotron -->

  <!-- Container -->
  <div class="container">
    <!-- LOADING IMAGE -->
    <div class="rowjustify-content-center">
      <div class="col-3 mx-auto">
        <div class="loading-image" *ngIf="loadingProfile">
          <mat-spinner></mat-spinner>
        </div>
      </div>
    </div>
    <!-- LOADING IMAGE -->


    <!-- MAIN PROFILE -->
    <div class="profile-fields-container" *ngIf="!loadingProfile">
      <!-- Profile Image -->
      <div class="row">
        <div class="col d-flex justify-content-center">
          <div class="profile-image-container">
            <img [src]="profileImage" class="profile-pic">
          </div>
        </div>
      </div>
      <!-- Profile Image -->


      <form
        class="profile-form"
        [formGroup]="profileForm"
        (ngSubmit)="onSubmit()">
        <!-- ROW -->
        <div class="row">
          <!-- COLUMN -->
          <div class="col-6 d-flex flex-column">
            <!-- NAME -->
            <mat-form-field>
              <input
                matInput
                placeholder="Name"
                formControlName="name"
                [errorStateMatcher]="matcher">
            </mat-form-field>

            <!-- ADDRESS -->
            <mat-form-field>
              <input
                matInput
                placeholder="Address"
                formControlName="address"
                [errorStateMatcher]="matcher">
            </mat-form-field>

            <!-- PHONE -->
            <mat-form-field>
              <input
                matInput
                placeholder="Phone"
                formControlName="phone"
                [errorStateMatcher]="matcher">
            </mat-form-field>

          </div>
          <!-- COL-6 -->

          <!-- COLUMN -->
          <div class="col-6 d-flex flex-column">
            <!-- EMAIL -->
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                formControlName="email"
                [errorStateMatcher]="matcher">
              <mat-error *ngIf="profileForm.get('email').hasError() && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="profileForm.get('email').hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <!-- ROLE -->
            <mat-form-field>
              <input
                matInput
                placeholder="Role"
                formControlName="role"
                [errorStateMatcher]="matcher">
            </mat-form-field>
            <!-- ORGANIZATION -->
            <mat-form-field>
              <input
                matInput
                placeholder="Company"
                formControlName="company"
                [errorStateMatcher]="matcher">
            </mat-form-field>

          </div>
          <!-- COL-6 -->

        </div>
        <!-- ROW -->

        <!-- <div class="profile-save-button-container">
          <button type="submit" class="wide-button profile-save-button" [disabled]="!cardForm || cardForm.pristine">Save</button>
        </div> -->
      </form>
    </div>
  </div>
  <!-- Container -->
</div>
<!-- Profile Page -->