<div class="container">
    <div class="row">

    <div class="col" class="divina">
        <p>
            Nel mezzo del cammin di nostra vita<br>
            mi ritrovai per una selva oscura, <br>
            ché la diritta via era smarrita.
        </p>
        <p>
            Ahi quanto a dir qual era è cosa dura <br>
            esta selva selvaggia e aspra e forte <br>
            che nel pensier rinova la paura!
        </p>
        <p>
            Tant’è amara che poco è più morte; <br>
            ma per trattar del ben ch’i’ vi trovai, <br>
            dirò de l’altre cose ch’i’ v’ho scorte.
        </p>
        <p>
            Io non so ben ridir com’i’ v’intrai, <br>
            tant’era pien di sonno a quel punto <br>
            che la verace via abbandonai. 
        </p>
        <p>
            Ma poi ch’i’ fui al piè d’un colle giunto, <br>
            là dove terminava quella valle <br>
            che m’avea di paura il cor compunto, 
        </p>            
        <p>
            guardai in alto e vidi le sue spalle <br>
            vestite già de’ raggi del pianeta <br>
            che mena dritto altrui per ogne calle.
        </p>
        <p>
            Allor fu la paura un poco queta, <br>
            che nel lago del cor m’era durata <br>
            la notte ch’i’ passai con tanta pieta.    
        </p>
        <p>
            E come quei che con lena affannata, <br>
            uscito fuor del pelago a la riva, <br>
            si volge a l’acqua perigliosa e guata,    
        </p>
        <p>
            così l’animo mio ch’ancor fuggiva, <br>
            si volse a retro a rimirar lo passo <br>
            che non lasciò già mai persona viva.
        </p>  
    </div>
    </div>
</div>
